.actions
  a.pinned-msg(href='#')
    i.fa.fa-thumb-tack
  ul
    li
      .a(href='#').content-open
        i.fa.fa-folder-open
    li
      a(href='#')
        i.fa.fa-trash-o(type='button', aria-hidden='true', ng-click='deleteTodo(todo)') 
    li
      a(href='#')
        i.fa.fa-ellipsis-v
        